[submodule "proposal"]
	path = proposal
	url = https://github.com/aj-stein/practicum_proposal.git
[submodule "prototype"]
	path = prototype
	url = https://github.com/aj-stein/conmotion.git
[submodule "vendor/csl"]
	path = vendor/csl
	url = https://github.com/citation-style-language/styles
[submodule "progress_reports"]
	path = progress_reports
	url = https://github.com/aj-stein/practicum_reports.git
[submodule "vendor/fedramp_marketplace_data"]
	path = vendor/fedramp_marketplace_data
	url = https://github.com/GSA/marketplace-fedramp-gov-data.git
[submodule "critical_analysis"]
	path = critical_analysis
	url = https://github.com/aj-stein/practicum_conmon_analysis.git
